<?xml version='1.0' encoding='UTF-8'?>
<metadata>
 <file uri='COL_0_02_Printer.desktop' mtime='1171230330'>
  <value name='system.hash.sha1'>ed5919eb36b147e68bbe5527d508219d53d7a1a3</value>
  <value name='system.size'>1364</value>
  <value name='system.depth'>0</value>
 </file>
