<?xml version='1.0' encoding='UTF-8'?>
<metadata>
 <file uri='COL_0_02_Printer.desktop' mtime='1175792718'>
  <value name='size'>1364</value>
  <value name='sha1'>ed5919eb36b147e68bbe5527d508219d53d7a1a3</value>
  <value name='depth'>0</value>
 </file>
