<?xml version='1.0' encoding='UTF-8'?>
<metadata>
 <file uri='COL_0_02_Printer.desktop' mtime='1182096230'>
  <value name='http://freedesktop.org/standards/xesam/1.0/core#url'>COL_0_02_Printer.desktop</value>
  <value name='http://strigi.sf.net/ontologies/0.9#parentUrl'></value>
  <value name='http://freedesktop.org/standards/xesam/1.0/core#name'>COL_0_02_Printer.desktop</value>
  <value name='http://freedesktop.org/standards/xesam/1.0/core#fileExtension'>desktop</value>
  <value name='http://strigi.sf.net/ontologies/0.9#depth'>0</value>
  <value name='http://freedesktop.org/standards/xesam/1.0/core#sourceModified'>1182096230</value>
  <value name='http://freedesktop.org/standards/xesam/1.0/core#size'>1379</value>
  <value name='http://strigi.sf.net/ontologies/0.9#depth'>0</value>
 </file>
