[Desktop Entry]
Encoding=UTF-8
X-SuSE-translate=true
OnlyShowIn=KDE;
Name=Printer
Name[bg]=Принтер
Name[br]=Moullerez
Name[de]=Drucker
Name[el]=Εκτυπωτής
Name[es]=Impresora
Name[ga]=Printéir
Name[ja]=プリンタ
Name[pt]=Impressora
Name[pt_BR]=Impressora
Name[sv]=Skrivare
Actions=Print;List;
Exec=/opt/kde3/bin/startprint %u
Icon=printer1
Type=Application
X-KDE-SubstituteUID=false
renameOnDesktop=true

[Desktop Action List]
Exec=kjobviewer --show
Name=State for all printers
Name[bg]=Състояние на всички принтери
Name[da]=Tilstand for alle printere
Name[de]=Status aller Drucker
Name[el]=Κατάσταση για όλους τους εκτυπωτές
Name[es]=Estado de todas las impresoras
Name[et]=Kõigi printerite olek
Name[ja]=すべてのプリンタの状態
Name[nl]=Status voor alle printers
Name[pt]=Estado de todas as impressoras
Name[pt_BR]=Estado das impressoras
Name[sv]=Tillstånd hos alla skrivare
[Desktop Action Print]
Exec=kprinter %u
Name=Print files
Name[bg]=Файлове за печат
Name[da]=Udskriv filer
Name[de]=Dateien drucken
Name[el]=Εκτύπωση αρχείων
Name[es]=Imprimir archivos
Name[et]=Failide trükkimine
Name[ga]=Priontáil comhaid
Name[ja]=ファイルを印刷
Name[nl]=Bestanden afdrukken
Name[pt]=Imprimir os ficheiros
Name[pt_BR]=Imprimir arquivos
Name[sv]=Utskriftsfiler


